<div class="container" style="padding-top: 20px;">
    <div class="row">
        <h1>Buscar</h1>
        <input type="text" #termino (keyup)="getBusqueda(termino.value)" class="form-control">
    </div>
    <div class="row image" style="padding-top: 20px;">

        <div class="card animate__animated animate__backInLeft">
            <div class="card-body">
                <div class="d-flex align-items-center" *ngIf="cargando">
                    <strong>Cargando...</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
                <table class="table" *ngIf="!cargando">
                    <thead>
                        <tr>

                            <th scope="col">Nombre</th>
                            <th scope="col">Episodio</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ep of episodios">

                            <td>{{ep.name}}</td>
                            <td>{{ep.episode}}</td>
                            <td>
                                <a data-bs-toggle="modal" (click)="verMax(ep)" data-bs-target="#personajes" class="cursor">
                              ver mas...
                            </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="text-center center" *ngIf="termino.value.length===0">
                    <ul class="pagination text-center">
                        <li class="page-item">
                            <button type="button" class="page-link" [disabled]="disabledPrev" (click)="Pagina(-1)">Previous</button>
                        </li>

                        <li class="page-item">
                            <button type="button" class="page-link" [disabled]="disabledNext" (click)="Pagina(+1)">Next</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="personajes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content" id="modal">

            <div class="modal-body">
                <h1>{{episodio?.name}}</h1>
                <br>
                <div class="row">
                    <div class="col">
                        <h3>fecha de episodio</h3>
                        <p>{{episodio?.air_date | date}}</p>
                    </div>
                    <div class="col">
                        <h3>fecha Registro</h3>
                        <p>{{episodio?.created | date}}</p>
                    </div>
                    <div class="col">
                        <h3>Personajes en el episodio</h3>
                        <p>{{episodio?.characters.length}}</p>
                    </div>
                </div>
                <div class="position">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>